.tile {
  width: 80px;
  height: 80px;
  border-radius: 6px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile.bg-amber-800 {
  background-color: #78350f;
}

.tile.bg-red {
  background-color: #c81a1a;
}

.tile.bg-blue {
  background-color: #174fde;
}

.tile.bg-yellow {
  background-color: #eac41a;
}

.tile.bg-green {
  background-color: #00aa2d;
}

.tile.selected {
  border: 4px solid #ffe100;
  box-shadow: 0 0 10px rgba(255, 204, 0, 0.7);
}

.tile.move-highlight {
  border: 4px solid #FF6A00;
  box-shadow: 0 0 15px rgba(255, 106, 0, 0.9);
}

.tile.highlighted {
  border: 4px solid #eee1f2;
  box-shadow: 0 0 10px rgba(234, 225, 237, 0.7);
}


.partial-move-highlight {
  mix-blend-mode: screen;
  opacity: 0.9;
  color: white
}


.tile span {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}